 <div class="checkout_btn_inner d-flex align-items-center">
  <a class="primary-btn" href="/admin/viewproducts">View Products</a>
  <a class="primary-btn" href="/admin/viewusers">View Users</a>
</div>