
<div class="container m-5 p-5">
   <div class="checkout_btn_inner d-flex align-items-center">
  <a class="primary-btn m-5" href="/admin/viewproducts">View Products</a>
  <a class="primary-btn m-5" href="/admin/viewusers">View Users</a>
  <a class="primary-btn m-5" href="/admin/categories">View Categories</a>
  <a class="primary-btn m-5" href="/admin/banners">Banners</a>
</div>
</div>
