<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../images/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>bSHOPE</title>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

<!-- 
    RTL version
-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css" />
	<!--
            CSS
            ============================================= -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/css/linearicons.css">
	<link rel="stylesheet" href="/stylesheets/css/owl.carousel.css">
	<link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
	<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/css/nice-select.css">
	<link rel="stylesheet" href="/stylesheets/css/nouislider.min.css">
	<link rel="stylesheet" href="/stylesheets/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/css/main.css">
	
	
<!--======================================== MDB ==========================================-->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		rel="stylesheet"
		/>
		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
		rel="stylesheet"
		/>
		<!-- MDB -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
		rel="stylesheet"
		/>
<!--======================================== /MDB ==========================================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	{{!-- DATA TABLE --}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


</head>
<body>
	{{#if admin}}
	{{>admin-header}}
	{{else}}
	{{>user-header}}
	{{/if}}
{{{body}}}

	{{>footer-general}}
</body>

<!-- Start Banner Area -->
	<!-- End Banner Area -->

	{{!-- MY SCRIPTS --}}
	{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}
	<script src='/javascripts/js/cart-ajax.js'></script>


    {{!-- <script src="/javascripts/js/vendor/jquery-2.2.4.min.js"></script> --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/javascripts/js/vendor/bootstrap.min.js"></script>
	<script src="/javascripts/js/jquery.ajaxchimp.min.js"></script>
	<script src="/javascripts/js/jquery.nice-select.min.js"></script>
	<script src="/javascripts/js/jquery.sticky.js"></script>
	<script src="/javascripts/js/nouislider.min.js"></script>
	<script src="/javascripts/js/countdown.js"></script>
	<script src="/javascripts/js/jquery.magnific-popup.min.js"></script>
	<script src="/javascripts/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/javascripts/js/gmaps.min.js"></script>
	<script src="/javascripts/js/main.js"></script>


	<!--======================================== MDB ==========================================-->
	<script
	type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
	></script>
	<!--======================================== MDB ==========================================-->
</body>
</html>